<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="scriptPath" value="C:\Projects\LinqpadWebServer\Linqpad Queries"/>
    <add key="debug" value="true"/>
    <add key="logpath" value="C:\Projects\LinqpadWebServer\log"/>
  </appSettings>
  
</configuration>